<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MotorOnline.Data.Properties.Settings.FpacMotorCarConnectionString"
            connectionString="Data Source=dhdc221\SQLEXPRESS;Initial Catalog=FpacMotorCar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MotorOnline.Data.Properties.Settings.FpacMotorCarConnectionString1"
            connectionString="Data Source=GT683\SQL2008R2;Initial Catalog=FpacMotorCar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MotorOnline.Data.Properties.Settings.FpacMotorCarConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FpacMotorCar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>