<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=CDP.FEDPHX_DOMAIN;Initial Catalog=fpMotorCarDB;user Id=sa;pwd=localsa;"
      providerName="System.Data.SqlClient" />
    <add name="NWindConnectionString" connectionString="Server=CDP.FEDPHX_DOMAIN;Initial Catalog=fpMotorCarDB2;user Id=sa;pwd=localsa;"
      providerName="System.Data.SqlClient" />
    <!--<add name="dataConnection" connectionString="Server=.;Initial Catalog=FpacMotorCar;user Id=sa;pwd=localsa;"
      providerName="System.Data.SqlClient" />
    <add name="FpacMotorCarConnectionString" connectionString="Data Source=.;Initial Catalog=FpacMotorCar;Persist Security Info=True;User ID=sa;Password=localsa"
      providerName="System.Data.SqlClient" />-->
    
    <!--<add name="FpacMotorCarConnectionString" connectionString="Data Source=DHDC914\SQLEXPRESS;Initial Catalog=FpacMotorCar;Persist Security Info=True;Integrated security=true;"
          providerName="System.Data.SqlClient" />

    <add name="dataConnection" connectionString="Server=DHDC914\SQLEXPRESS;Initial Catalog=FpacMotorCar;Integrated security=true;"
      providerName="System.Data.SqlClient" />-->

    <add name="FpacMotorCarConnectionString" connectionString="Data Source=GT683\SQL2008R2;Initial Catalog=FpacMotorCar;Persist Security Info=True;Integrated security=true;"
          providerName="System.Data.SqlClient" />

    <add name="dataConnection" connectionString="Server=GT683\SQL2008R2;Initial Catalog=FpacMotorCar;Integrated security=true;"
      providerName="System.Data.SqlClient" />

  </connectionStrings>

</configuration>
